<div class="main-content">
  <div class="main-content-title">
      <h2>HISTÓRICO</h2>
  </div>
  <div class="scroll">
    <table class="table table-sm">
      <thead>
        <tr class="tr-one">
          <th>Tipo</th>
          <th>Data</th>
          <th>Horário</th>
          <th>Local</th>
          <th>Receita</th>
          <th>Médico Responsável</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <td>Consulta</td>
            <td><%= appointment.date.strftime("%d/%m/%Y") %></td>
            <td><%= appointment.date.strftime("%H:%M") %></td>
            <td><%= appointment.address %></td>

            <% if appointment.prescription_url? %>
              <td><%= link_to "Link para a receita escaneada", appointment.prescription_url %></td>
            <% else %>
              <td>Sem informação</td>
            <% end %>

            <% if appointment.doctor? %>
              <td><%= appointment.doctor %></td>
            <% else %>
              <td>Sem informação</td>
            <% end %>
          </tr>
        <% end %>
        <% @exams.each do |exam| %>
          <tr>
            <td>Exame</td>
            <td><%= exam.date.strftime("%d/%m/%Y") %></td>
            <td><%= exam.date.strftime("%H:%M") %></td>
            <td><%= exam.address %></td>
            <% if exam.prescription_url? %>
              <td><%= link_to "Link para a receita escaneada", exam.prescription_url %></td>
            <% else %>
              <td>Sem informação</td>
            <% end %>

            <% if exam.doctor? %>
              <td><%= exam.doctor %></td>
            <% else %>
              <td>Sem informação</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
