<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative">
    <%= image_tag 'sim.png' %>
    <h1>Juntos na batalha contra o HIV!</h1>
    <h2>Serviço disponível 24 horas.</h2>
    <%= link_to "Meu perfil", dashboard_path, class: "main-btn" %>
  </div>
</section>

<br>

<section id="parte2">
  <div class="container">
    <div class="cont">
      <div class="dest">Sobre a doença</div>
    </div>

    <br>

    <div class= "destaque1">
      Como diferenciar o HIV da Aids?
    </div>
    <p>
      HIV é uma sigla para vírus da imunodeficiência humana. É o vírus que pode levar à síndrome da imunodeficiência
      adquirida (AIDS).
      Ao contrário de outros vírus, o corpo humano não consegue se livrar do HIV. Isso significa que uma vez que você
      contrai o HIV,
      você viverá com o vírus para sempre. As pessoas que vivem com HIV ou com AIDS devem poder usufruir todos os seus
      direitos, incluindo
      o direito à educação, trabalho, acesso à saúde.
      Uma pessoa, após ter sido infectada pelo vírus HIV, pode permanecer muitos anos sem desenvolver nenhum sintoma.
      Nesse caso, dizemos
      que a pessoa está vivendo com HIV. A AIDS é o estágio mais avançado da infecção pelo HIV e surge quando a pessoa
      apresenta infecções
      oportunistas (que se aproveitam da fraqueza do organismo, como tuberculose e pneumonia) devido à baixa imunidade
      ocasionada pelo vírus.
    </p>
    <p>
      As pessoas que vivem com o HIV também podem transmitir o vírus, por isso é importante fazer o teste regularmente
      e se proteger em
      todas as situações.
    </p>
    <div class="destaque1">
      Transmissão:
    </div>
    <p>
      O vírus HIV é transmitido por meio de relações sexuais (de qualquer tipo)desprotegidas com pessoa soropositiva,
      ou seja, que já tem o vírus HIV. Outra forma de transmissão é pelo compartilhamento de objetos perfuro cortantes
      contaminados,
      como agulhas, alicates, etc., de mãe soropositiva, sem tratamento, para o filho durante a gestação, parto ou
      amamentação.
    </p>
    <div class="destaque1">
      Sintomas:
    </div>
    <p>
      Quando ocorre a infecção pelo vírus causador da aids, o sistema imunológico começa a ser atacado. E é na
      primeira fase,
      chamada de infecção aguda, que ocorre a incubação do HIV - tempo da exposição ao vírus até o surgimento dos
      primeiros sinais da doença.
      Esse período varia de 3 a 6 semanas. O organismo leva de 8 a 12 semanas após a infecção para produzir anticorpos
      anti-HIV.
      Os primeiros sintomas são muito parecidos com os de uma gripe, como febre e mal-estar. Por isso, a maioria dos
      casos passa despercebida.
      Caso haja suspeita de infecção pelo HIV, procure uma unidade de saúde e realize o teste.
    </p>
    <div class="destaque1">Como tratar? </div>
    <p>
      O tratamento da AIDS é feito com o uso de medicamentos antirretrovirais oferecidos pelo SUS que são capazes de
      impedir a multiplicação
      do vírus HIV e, assim, evitar o enfraquecimento do corpo humano. Além disso, quando o tratamento é feito da
      forma correta, há melhora
      da qualidade de vida do paciente e diminuição da chance de desenvolver algumas doenças que podem ser
      relacionadas à AIDS,
      como tuberculose, criptosporidiose, aspergilose, doenças de pele e problemas no coração.
    </p>

    <br>

    <div class="cont">
      <div class="dest">Sobre o projeto</div>
    </div>
    <p>
      A ideia do projeto é criar um Sistema de Mapeamento para consulta de médicos e pacientes para acompanhar o
      tratamento da doença de forma
      eficiente. Com isso, poderemos realizar um acompanhamento do número de casos por meio de uma integração entre os
      dados dos hospitais para
      acompanhar o avanço da doença e tomar medidas logísticas para caso certas unidades hospitalares estiverem com
      baixa demanda de
      medicamentos e assim facilitar o mapeamento e o tratamento da doença no país.
    </p>
    <p>
      Após a primeira semana de tratamento o paciente deve voltar ao médico para verificar as reações aos
      medicamentos,
      e após esta visita, ele deverá voltar ao médico 1 vez por mês. Quando a doença se estabilizar, o paciente deverá
      voltar ao médico de 6 em 6 meses,
      realizando exames semestralmente ou de ano em ano, dependendo do seu estado de saúde.
    </p>
    <p>
      Como o tratamento é feito a longo prazo, ocorre uma grande evasão de pacientes ao longo do tratamento.
      Com a aplicação do Sistema, a evasão do pacientes reduzirá.
    </p>
    <p>
      Pacientes de baixa renda têm dificuldades para adquirir os medicamentos necessários para o controle do vírus.
      Com a aplicação do Sistema, o paciente terá um guia para ajuda-lo na obtenção dos medicamentos.
    </p>
    <p>
      Não existe um mapeamento do estoque de remédios pelos hospitais muito menos do histórico de tratamento dos
      pacientes com a doença.
      Com a aplicação do Sistema, existirá um mapeamento de estoque pelos hospitais, ajudando na circulação tanto dos
      medicamentos,
      quanto das pessoas.
    </p>
  </div>
</section>

<br>

 <div class="cont">
    <div class="dest">Tire suas dúvidas</div>
  </div>
  <div class="container">

    <div class="section-title text-center mt-5">

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="contact-box">
                <i class="fas fa-comments"></i>
                <h5>Sobre você </h5>
                <p>Aqui é o seu espaço para tirar qualquer dúvida! Se preferir, compartilhe conosco como está sendo o
                  seu tratamento e
                  como podemos te ajudar.
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 text-align-none">
          <%= simple_form_for(@doubt, method: :post, url: enviar_duvida_path, remote: true) do |f| %>
            <div class="form-row">
              <div class="col-md-6 form-group">
                <%= f.input :name, class: "form-control", placeholder: "Nome" %>
              </div>
              <div class="col-md-6 form-group">
                <%= f.input :email, class: "form-control", placeholder: "E-mail" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.input :subject, class: "form-control", placeholder: "Assunto" %>
            </div>
            <div class="form-group">
              <%= f.input :message, class: "form-control", placeholder: "Sua mensagem" %>
            </div>
            <div class="cont">
              <%= f.button :submit, "Enviar Contato", id: "doubt-button", class: "doubt-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</h4>
