<div class="main-content-title">
  <h2>MINHA CONSULTA</h2>
</div>

<br>

<h5>Nome do Paciente</h5>
<div><%= @appointment.pacient %></div>

<br>

<h5>Título</h5>
<div><%= @appointment.title %></div>

<br>

<% if @appointment.doctor? %>
  <h5>Nome do Médico</h5>
  <div><%= @appointment.doctor %></div>

  <br>
<% end %>

<% if @appointment.prescription_url? %>
  <h5>Link da Receita</h5>
  <div><%= link_to "Clique aqui", @appointment.prescription_url %></div>

  <br>
<% end %>


<% if @appointment.description? %>
  <h5>Descrição</h5>
  <div><%= @appointment.description %></div>

  <br>
<% end %>

<h5>Endereço</h5>
<div><%= @appointment.address %></div>

<br>

<h5>Data</h5>
<div><%= @appointment.date.strftime("%d/%m/%Y as %H:%M") %></div>
